<a href="https://colab.research.google.com/github/AUT-Student/NN-HW1/blob/main/NN_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [ ]:
import pandas as pd

# Load Data

In [ ]:
!gdown https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data

Downloading...
From: https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data
To: /content/crx.data
100% 32.2k/32.2k [00:00<00:00, 1.59MB/s]

In [ ]:
data = pd.read_csv("/content/crx.data"
, header=None, names=["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15", "A16"])

In [ ]:
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]

# Preprocessing

In [9]:
def convert_question_mark(value):
  if value == "?":
    return None
  else:
    return value

In [11]:
data = data.applymap(convert_question_mark)

In [21]:
data.isna().any()

A1     False
A2     False
A3     False
A4     False
A5     False
A6     False
A7     False
A8     False
A9     False
A10    False
A11    False
A12    False
A13    False
A14    False
A15    False
A16    False
dtype: bool

In [34]:
continues_columns = ["A2", "A3", "A8", "A11", "A14", "A15"]
discreate_columns = ["A1", "A4", "A5", "A6", "A7", "A9", "A10", "A12", "A13", "A16"]

In [14]:
data[continues_columns] = data[continues_columns].astype(float)
data[continues_columns] = data[continues_columns].fillna(data[continues_columns].mean())
data[continues_columns]=(data[continues_columns]-data[continues_columns].mean())/data[continues_columns].std()

In [20]:
data[discreate_columns] = data[discreate_columns].fillna(data[discreate_columns].mode().iloc[0])
data[discreate_columns]=data[discreate_columns].apply(lambda col:pd.Categorical(col).codes)

In [38]:
data

     A1        A2        A3  A4  A5  ...  A12  A13       A14       A15  A16
0     1 -0.062276 -0.955920   1   0  ...    0    0  0.104469 -0.195272    0
1     0  2.286443 -0.060007   1   0  ...    0    0 -0.819095 -0.087788    0
2     0 -0.596305 -0.855481   1   0  ...    0    0  0.557537 -0.037117    0
3     1 -0.315370 -0.646569   1   0  ...    1    0 -0.488006 -0.194696    0
4     1 -0.961605  0.174015   1   0  ...    0    2 -0.371835 -0.195272    0
..   ..       ...       ...  ..  ..  ...  ...  ...       ...       ...  ...
685   1 -0.884833  1.069928   2   2  ...    0    0  0.441366 -0.195272    1
686   0 -0.750693 -0.805262   1   0  ...    1    0  0.092851 -0.119649    1
687   0 -0.533032  1.755924   2   2  ...    1    0  0.092851 -0.195080    1
688   1 -1.151426 -0.914740   1   0  ...    0    0  0.557537 -0.051321    1
689   1  0.289526 -0.277959   1   0  ...    1    0 -1.068864 -0.195272    1

[690 rows x 16 columns]